@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('/PretendardVariable.woff2') format('woff2');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Pretendard', system-ui, sans-serif;
  }
}

:root {
  --background: #f6f7f9;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f7f9;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
